// Button Poetry Custom CSS
// ========================
// 1. Navigation Customization
// 2. Additional Typography Helpers
// 3. Custom Motion-UI Animations
// 4. Widget Customizations

// 1. Navigation customization
// ---------------------------

// 1.A Title Text Font/Size for all screens
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.top-bar .site-desktop-title a, .title-bar-title a {
    font-weight: bold;
    letter-spacing: .05rem;
}

// 2. Additional Typography Helpers
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.button {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: normal;
}

.button.secondary {
    color: $white;
}

.button.secondary:hover,
.button.secondary:active,
.button.secondary:focus {
    color: $white;
}

.quote {
    quotes: "“" "”" "‘" "’";
  }
  .quote:before {
      content: open-quote;
  }
  .quote:after {
      content: close-quote;
}

// 3. Custom Motion-UI Animations
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
$bp-feature-slide-speed: 0.5;
$bp-feature-side-timing: default;

.bp-feature-slide-in-right {
    @include mui-slide(in, $direction : left, $duration: $bp-feature-slide-speed, $timing: $bp-feature-side-timing);
}
  
.bp-feature-slide-out-right {
    @include mui-slide(out, $direction : right, $duration: $bp-feature-slide-speed, $timing: $bp-feature-side-timing);
}

.bp-feature-slide-in-left {
    @include mui-slide(in, $direction : right, $duration: $bp-feature-slide-speed, $timing: $bp-feature-side-timing);
}
  
.bp-feature-slide-out-left {
    @include mui-slide(out, $direction : left, $duration: $bp-feature-slide-speed, $timing: $bp-feature-side-timing);
}

// 4. Widget Customizations
// -=-=-=-=-=-=-=-=-=-=-=-=
.widget {
    margin-bottom: rem-calc(40);
    font-size: .9rem;

    h6 {
        font-family: $body-font-family;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        border-bottom: rem-calc(2) solid black;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

// Customization for the categories widget.
.widget_product_categories {

    h6 {
        display: none;
    }

    ul {
        border: 1px solid rgba($button-light-tan, .5);
        box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.15);
        list-style:none;
        margin:0;
     
        .current-cat {
            background-color: rgba($button-light-tan, .5);
            transition: .2s;
        }

        .cat-item {
            font-size: 1rem;
            padding: .5rem 2rem;
            transition: .2s;            

            &:hover {
                background-color: $button-light-tan;
                transition: .2s;
            }            
        }
    }
}

// 7. Mailchimp for WordPress Customization

.mc4wp-form-fields input[type="submit"] {
    @extend .button;
    @extend .expanded;
}