// Button Poetry Custom CSS
// ========================
// 1. Navigation Customization
// 2. Additional Typography Helpers

// 1. Navigation customization
// ---------------------------

// 1.A Title Text Font/Size for all screens
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.top-bar .site-desktop-title a, .title-bar-title a {
    font-weight: bold;
    letter-spacing: .05rem;
}




// 2 Additional Typography Helpers
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.button {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: normal;
}

.button.secondary {
    color: $white;
}

.button.secondary:hover,
.button.secondary:active,
.button.secondary:focus {
    color: $white;
}

p a {
    text-decoration: underline;
}

p a:hover,
p a:active,
p a:focus {
    color: $button-red;
}
