// Sass for the Poets archives and pages
.poet-archive-lead {
    margin-bottom: rem-calc(50);

    @include breakpoint(medium) {
        margin-bottom: rem-calc(100);
    }
}

.poet-archive-listing {
    margin-bottom: rem-calc(60);

    .poet-archive-bio-pic img {    
        width:100%;
        max-height:320px;
        object-fit: contain;
    }
    .poet-archive-content {
        @include breakpoint(medium) {
            padding-left: rem-calc(60);
        }
 
        header {
            padding-top: 1rem;
            @include breakpoint(medium)
            {
                h2 {
                    font-size: 1.5rem;
                }
                padding-top: rem-calc(40);
            }            
        }
    }
}

.poet-bio-wrapper {
    background-color: $button-light-tan;
    margin-top: 0;
    padding-bottom: 2rem;
    
    @include breakpoint(medium) {
        padding-top: 2rem;
    }

    @include breakpoint(large) {
        padding-top: 3rem;
    }

    .main-grid {
        margin-top: 0;
    }


    header {
        display: block;
        margin-top: 0.5rem;
        text-align: center;

        @include breakpoint(large) {
            margin-top: 0;
            display: inline-block;
            text-align: left;
        }

        .poet-name {
            @include breakpoint(small only) {
                font-size: 2rem;
            }
        }
    }

    .poet-bio-social {
        
    }

    .poet-bio-pic {
        display:block;

        @include breakpoint(medium) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: rem-calc(10);
        }

        @include breakpoint(large) {
            float:left;
            max-width: 50%; 
            margin-right: 5%;
            margin-bottom: rem-calc(15);
        }

    }

    .poet-bio-content p {

    }
}

.poet-featured-item {
    .poet-featured-item-copy {

    }

    .poet-featured-item-pic {
        
    }
}

.poet-product-carousel {
        
    .poet-product-carousel-card {
        border: 1px solid $button-tan;
        padding: 15px;

        img {
            max-height:120px;            
        }

        h3 {
            font-family: $body-font-family;
            font-size: 1.2rem;
        }

        a {
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
    
}