// 1. Global Anchor Styles & Hover Effects
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

h1,
h2,
h3,
h4,
h5,
h6,
.pagination,
.showcase {
    a {
        text-decoration: none;
    }
}

a.button {
    text-decoration: none;
}

.top-bar-title a {
    text-decoration: none;
        
    &:hover {
        opacity: .9;
    }
}

.top-bar-right {
    a {
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        color: initial;
        -webkit-transform: none;
        transform: none;
        z-index: none;
        
    }
}

// 2. Global Anchor Transition
// -=-=-=-=-=-=-=-=-=-=-=-=-=-

a, .nav-link-text { 
    transition-duration: .2s;
  }

// 3. Global Button Hover Effect
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.main-container button, 
.main-container .button, 
.woocommerce .main-container button, 
.woocommerce .main-container .button {
    &:not(.menu-icon, .slick-arrow, .slick-prev, .slick-next, .submenu-toggle) {
        position: relative;

        &:hover, &:focus {     
            box-shadow: 1px 1px 3px rgba($black, .25);
        }

        &:active {
            position:relative;
            top: 1px;
            left: 1px;
            box-shadow: none;
        }

        &::after {
            content: '→';
            color: inherit;
            position: absolute;          
            display: block;
            top: 0;
            right: 1em;          
            font-size: inherit;
            line-height: inherit;
            padding: $button-padding;
            padding-left: 0;
            padding-right: 0;
            opacity: 0;                    
            transition: .2s ease-in;
        }
        
        &:hover::after, &:focus::after {
            opacity: .75;
            right: .5em;
        }
    }
}