// Button Theme WooCommerce related & override CSS
// -----------------------------------------------
// 0. Legacy Compatibility Styles // 0.1 General WooCommerce Customizations
// 1. Top navigation mini-cart
// 2. WooCommerce Grid/List Plugin Customization
// 3. Cart Page Fixes
// 4. Quantity Input Fixes
// 5. Product page form fixes
// 6. Gift Wrap CSS
// 7. Shop Page Free Shipping Banner
// 8. Shop Page Yotpo Stars Fix
// 9. Product Image Black Borders
// 10. Spacing Above H3 in Product Descriptions
// 11. Advanced Product Loop Card Styling
// =======================

// 0. Legacy Compatibility Styles
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//Limit width of product images on product archives.
.woocommerce ul.products li.product a img {

}

// 0.1 General WooCommerce Customizations
// These are overrides of WC CSS
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.woocommerce {
    // Restyle buttons
    a.button,
    button.button,
    input.button,
    #review_form #submit {
    @extend .button;
    }

    // Tweak disabled buttons
    #respond input#submit.disabled,
    #respond input#submit:disabled,
    #respond input#submit:disabled[disabled],
    a.button.disabled,  a.button:disabled,
    a.button:disabled[disabled],
    button.button.disabled,
    button.button:disabled,
    button.button:disabled[disabled],
    input.button.disabled,
    input.button:disabled,
    input.button:disabled[disabled] {
        @extend .button;
        &::after {
            content: none;
        }
        cursor: default;
    }

    // Fix Sale badge sizing
    .onsale {
        box-sizing: content-box;
    }

    // Hide product counts
    .count {
        display: none;
    }
}

// 1. Top navigation mini-cart
// =-=-=-=-=-=-=-=-=-=-=-=-=-=
.top-bar .submenu.is-dropdown-submenu .bp-mini-cart {
    padding: .5rem;

    .mini-shipping-note {
        font-size: .8rem;
        width:100%;
        text-align:center;
        color: $dark-gray;
        display:block;
    }

    a.bp-mini-cart-link {
        padding: 0;
        margin: 0;
        display: inline;
        background: transparent;
        text-decoration: underline;

        &:hover {
            background: transparent;
            text-decoration: none;
            color: $button-red;
        }
    }

    a.button.secondary {
        &:after {
            position: absolute;
            display: block;
            top: 0;
            right: 1em;
            margin-top:0;
            padding-top:inherit;
        }

        &:hover {
            background-color: lighten( $button-tan, 10% );

            &:after {
                right: .5em;
            }
        }
    }
}

// 2. WooCommerce Grid/List Plugin Customization
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
nav.gridlist-toggle {
    float: left;
    clear: none !important;
    padding: 0 !important;
    margin-bottom: rem-calc(16) !important;

    a {
        background-color: transparent;

        &.active {
            //background-color: $button-light-tan;
        }

        &:not(.active):hover {
            color: $anchor-color;
            //background-color: $button-tan;
        }
    }
}

.woocommerce ul.products {
    // This rule mirrors the WooCommerce Grid/List plugin CSS.
    &.list {

        a h2.woocommerce-loop-category__title {
            font-family: $body-font-family;
            font-size: 1.5rem;
            padding-top: 0;
        }

        a h2.woocommerce-loop-product__title {
            font-family: $body-font-family;
        }

        .bp-cat-text {
            padding-left: rem-calc(2);
            display: block;
            width: 65.4%;
            float: right;
            clear: none;
        }

        .yotpo-small.bottomLine {
            display: block;
            width: 65.4%;
            float: right;
            clear: none;
        }
    }

    &:not(.list) {
        text-align: center;

        a h2.woocommerce-loop-category__title {
            font-family: $body-font-family;
            font-size: 1.5rem;
        }

        a h2.woocommerce-loop-product__title {
            font-family: $body-font-family;
        }

        .yotpo-bottomline {
            text-align: center;
        }

        .yotpo-stars {
            margin-right: 0 !important;
            display: block;
        }

        li.product .button.add_to_cart_button {
            display: block;
            margin-top: 0;
        }
    }

    .bp-wc-preorder-message {
        display: block;
    }
}

// 3. Cart Page Fixes
// =-=-=-=-=-=-==-=-=

// Fix Disabled Cart button
.woocommerce button.button {
    transition-duration: 2ms;
}

// Adjust coupon code input box.
.woocommerce-cart table.cart td.actions .coupon .input-text {
    height: 2.825rem;
    width: rem-calc(160);
    vertical-align: middle;
}

// 4. Quantity Input Fixes
// =-=-=-=-=-=-=-=-=-=-=-=

.woocommerce.single-product .quantity .qty {
    height: 2.825rem;
}

// Adjust Cart 'Quantity' input box positioning on small screens
.woocommerce-cart table.cart input {
    display: inline-block;
}

// 5. Product Page Form Fixes
.woocommerce.single-product {

    table.variations tbody {
        border: 0;

        td.label {
            background: transparent;
            color: $black;
        }
        td.value {
            padding-top: 0;
            select {
                width: initial;
            }
        }
    }

    .tabs.wc-tabs {
        border: 0;
    }
}

// 6. Gift Wrap CSS
// -=-=-=-=-=-=-=-=

/* Sample HTML to test with.
<div class='gift-wrapping'><label class="gift-wrapping-checkbox-container">Gift wrap this item for $3.00?<input type="checkbox"><span class="gift-checkmark"></span></label></div>
*/

.gift-wrapping>label {
    display: inline-block;
    padding: .75rem 1rem;
    font-size: 1rem;
    margin: 0;
    width: auto;
    margin-bottom:15px;
    border: 1px solid $button-light-tan;
    box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.15);
}

.gift-wrapping {

    // Compatibility Code
    input[type='checkbox'] {
        vertical-align: middle;
        margin: 0 .5rem .25rem;
    }

    // W3Schools Checkbox Customization
    /* Customize the label (the container) */
    .gift-wrap-checkbox-container {
        display: inline-block;
        position: relative;
        padding-left: 3rem;
        font-size: 1.15rem;
        margin-bottom: 1rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .gift-checkmark {
            position: absolute;
            top: 1rem;
            left: .75rem;
            height: 1.5rem;
            width: 1.5rem;
            border: 1px solid $black;
            background-color: $white;

            /* Create the checkmark/indicator (hidden when not checked) */
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }

        /* On mouse-over, add a background color */
        &:hover input ~ .gift-checkmark {
            background-color: $button-light-tan;
        }

        /* When the checkbox is checked, add a background */
        & input:checked ~ .gift-checkmark {
            //background-color: $button-tan;
        }

        /* Show the checkmark when checked */
        & input:checked ~ .gift-checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        & .gift-checkmark:after {
            left: .475rem;
            top: .15rem;
            width: .5rem;
            height: .8rem;
            border: solid $black;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

// 7. Shop Page Free Shipping Banner
// -=-=-=-=-=-=-=-=
.bp-free-shipping-banner {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    background: rgb(255, 225, 225);
    color: $button-red;
    padding: .8rem;
    text-align: center;
    & + .main-grid {
        margin-top: 0;
    }
}

// 8. Shop Page Yotpo Stars Fix
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=
.post-type-archive .standalone-bottomline {
	display: block;
    justify-content: unset;
}

// 9. Product Image Black Borders
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=
// Simulates black borders on WooCommerce archive page product thumbnails without doubling up on images that already have black borders on them.

//Grid first.
.bp-wc-thumb-border::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	box-shadow: inset 0 0 0 1px black;
	pointer-events: none;
}

.sale .bp-wc-thumb-border::after {
	box-shadow: inset 0 0 0 2px white, 0 0 2px 1px #a7d494;
}

@media screen and (min-width: 400px) {
	.bp-wc-thumb-border::after {
		box-shadow: inset 0 0 0 2px black;
	}

	.sale .bp-wc-thumb-border::after {
		box-shadow: inset 0 0 0 3px white, 0 0 4px 1px #a7d494;
	}
}

.bp-wc-thumb-border {
	display: inline-block;
	position: relative;
	margin-bottom:16px;
}

.woocommerce ul.products li.product a .bp-wc-thumb-border img {
	margin-bottom:0;
}

// List mode compatibility.
ul.products.list li.product .bp-wc-thumb-border {
    width: 30.75% !important;
    float: left;
    margin-bottom: 1.5em;
    -webkit-transition: none !important;
    margin-right: 3.8% !important;
}

ul.products.list li.product .bp-wc-thumb-border img {
	width:100% !important;
}

// Simulates borders on single product page image galleries.
.woocommerce-product-gallery.woocommerce-product-gallery--without-images::after,
.woocommerce-product-gallery .woocommerce-product-gallery__wrapper::after,
.woocommerce-product-gallery .flex-viewport::after, .iconic-woothumbs-images-wrap::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	box-shadow: inset 0 0 0 3px	black;
	pointer-events: none;
}


// 10. Spacing Above H3 in Product Descriptions
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.woocommerce-Tabs-panel--description h3 {
	margin-top: 2rem;
}

// 11. Advanced Product Loop Card Styling
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// This code is vanilla CSS. Could be refactored to SCSS.
// This code mostly depends on the WooCommerce Grid/List View plugin

/* Card Borders */
.woocommerce ul.products li.product {
	box-shadow:3px 3px 6px rgba(196,196,196, .75), -1px -1px 3px rgba(196,196,196, .25);
}

/* List Cleanup Code */
.woocommerce ul.products.list li {
	padding-right: 0.5rem;
}

.woocommerce ul.products.list li.product .gridlist-buttonwrap {
	margin-bottom:.5rem;
}

.woocommerce ul.products.list li.product .gridlist-buttonwrap a {
	margin-bottom:0;
	margin-top:.5rem;
}

.woocommerce ul.products.list li.product .bp-wc-thumb-border {
	margin-bottom:0
}

/* Grid Cleanup Code */
.woocommerce ul.products.grid li
.bp-wc-thumb-border,
.woocommerce ul.products.grid li .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail{
	display: block;
	margin-bottom:0;
}

.woocommerce ul.products.grid li a
h2.woocommerce-loop-product__title {
	overflow: hidden;
	padding-left: .5rem;
	padding-right: .5rem;
}

.woocommerce ul.products.grid li a
.availability_date {
	display:inline;
}

.woocommerce ul.products.grid li
.bp-wc-preorder-message {
	display:block;
	font-size: .75rem;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.woocommerce ul.products.grid li
.yotpo.bottomLine.yotpo-small {
	margin-top:.5rem;
	margin-bottom:.5rem;
}

.woocommerce ul.products.grid li
.gridlist-buttonwrap {
	display:none;
	margin-top: 0.25rem;
}

.woocommerce ul.products.grid li
.gridlist-buttonwrap a {
	margin:0;
	padding-left:1rem;
	padding-right:1rem;
}

.woocommerce ul.products.grid li a.woocommerce-LoopProduct-link {
position: relative;
	width:100%;
	display:block;
}

.woocommerce ul.products.grid li a .bp-product-info-wrap {
  overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	bottom:0;
}

.woocommerce ul.products.grid li a .bp-product-info {
	position:absolute;
	width:100%;
	background-color: rgba(255,255,255, 1);
	transition: .25s ease-in 0s;
	opacity:.25;
	bottom: -100%;
}

.woocommerce ul.products.grid li a.woocommerce-LoopProduct-link:hover .bp-product-info,
.woocommerce ul.products.grid li a.woocommerce-LoopProduct-link:active  .bp-product-info,
.woocommerce ul.products.grid li a.woocommerce-LoopProduct-link:focus  .bp-product-info {
	transition: .15s cubic-bezier(0,.5,.5,1) 0s;
	opacity: 1;
	bottom: 0;
}

.woocommerce ul.products.grid li a.woocommerce-LoopProduct-link {
	color:black;
}

.woocommerce ul.products.grid li
.yotpo-clr:only-child:after {
	content:"Reviews incoming!";
}

@media screen and (min-width: 900px) {
.woocommerce ul.products.grid li
  .gridlist-buttonwrap a {
    margin-bottom:0;
    padding-left:2rem;
    padding-right:2rem;
  }
}

/* Pre-order badge */
.woocommerce span.onsale.bp_pre-order-badge {
	background-color: #f03030;
	border-radius:2px;
	padding:5px;
	min-height:0 !important;
	line-height: 1rem;
}
