// Button Theme WooCommerce related & override CSS 
// -----------------------------------------------
// 0. Legacy Compatibility Styles // 0.1 General WooCommerce Customizations
// 1. Top navigation mini-cart
// 2. WooCommerce Grid/List Plugin Customization
// 3. Cart Page Fixes
// 4. Quantity Input Fixes
// 5. Product page form fixes
// 6. Gift Wrap CSS
// =======================

// 0. Legacy Compatibility Styles
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//Limit width of product images on product archives.
.woocommerce ul.products li.product a img {
    
}

// 0.1 General WooCommerce Customizations
// These are overrides of WC CSS
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.woocommerce {
    // Restyle buttons
    a.button, 
    button.button, 
    input.button,
    #review_form #submit {
    @extend .button;
    }

    // Tweak disabled buttons
    #respond input#submit.disabled,
    #respond input#submit:disabled,
    #respond input#submit:disabled[disabled],
    a.button.disabled,  a.button:disabled,
    a.button:disabled[disabled],
    button.button.disabled,
    button.button:disabled,
    button.button:disabled[disabled],
    input.button.disabled,
    input.button:disabled,
    input.button:disabled[disabled] {
        @extend .button;
        &::after {
            content: none;
        }
        cursor: default;
    }

    // Fix Sale badge sizing
    .onsale {
        box-sizing: content-box;
    }

    // Hide product counts
    .count {
        display: none;
    }
}

// 1. Top navigation mini-cart
// =-=-=-=-=-=-=-=-=-=-=-=-=-= 
.submenu.is-dropdown-submenu .bp-mini-cart {
    padding: .5rem;
    .mini-shipping-note {
        font-size: .8rem;
        width:100%;
        text-align:center;
        color: $dark-gray;
        display:block;
    }

    & a.button.secondary {
        &:after {
            position: absolute;
            display: block;
            top: 0;
            right: 1em;
            margin-top:0;
            padding-top:inherit;              
        }

        &:hover {
            background-color: lighten( $button-tan, 10% );

            &:after {
                right: .5em;
            }
        }
    }
}

// 2. WooCommerce Grid/List Plugin Customization
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
nav.gridlist-toggle {
    float: left;
    clear: none !important;
    padding: 0 !important;
    margin-bottom: rem-calc(16) !important;    

    a {
        background-color: transparent;

        &.active {
            //background-color: $button-light-tan;
        }

        &:not(.active):hover {
            color: $anchor-color;        
            //background-color: $button-tan;
        }
    }
}

.woocommerce ul.products {
    // This rule mirrors the WooCommerce Grid/List plugin CSS.
    &.list {
        
        a h2.woocommerce-loop-category__title {
            font-family: $body-font-family;
            font-size: 1.5rem;
            padding-top: 0;
        }  

        a h2.woocommerce-loop-product__title {
            font-family: $body-font-family;
        }      

        .bp-cat-text {
            padding-left: rem-calc(2);
            display: block;
            width: 65.4%;
            float: right;
            clear: none;
        }

        .yotpo-small.bottomLine {
            display: block;
            width: 65.4%;
            float: right;
            clear: none;
        }
    }

    &:not(.list) {
        text-align: center;

        a h2.woocommerce-loop-category__title {
            font-family: $body-font-family;
            font-size: 1.5rem;
        }

        a h2.woocommerce-loop-product__title {
            font-family: $body-font-family;
        }
    
        .yotpo-bottomline {                
            text-align: center;
        }        

        .yotpo-stars {            
            margin-right: 0 !important;
            display: block;
        }

        li.product .button.add_to_cart_button {        
            display: block;
            margin-top: 0;
        }
    }
    
    .bp-wc-preorder-message {        
        display: block;
    }
}

// 3. Cart Page Fixes
// =-=-=-=-=-=-==-=-=

// Fix Disabled Cart button
.woocommerce button.button {
    transition-duration: 2ms;
} 

// Adjust coupon code input box.
.woocommerce-cart table.cart td.actions .coupon .input-text {
    height: 2.825rem;
    width: rem-calc(160);
    vertical-align: middle;
}

// 4. Quantity Input Fixes
// =-=-=-=-=-=-=-=-=-=-=-=

.woocommerce.single-product .quantity .qty {
    height: 2.825rem;
}

// Adjust Cart 'Quantity' input box positioning on small screens
.woocommerce-cart table.cart input {
    display: inline-block;
}

// 5. Product Page Form Fixes
.woocommerce.single-product {

    table.variations tbody {        
        border: 0;

        td.label {
            background: transparent;
            color: $black;
        }
        td.value { 
            padding-top: 0;
            select {
                width: initial;
            }
        }
    }

    .tabs.wc-tabs {
        border: 0;
    }
}

// 6. Gift Wrap CSS
// -=-=-=-=-=-=-=-=

/* Sample HTML to test with.
<div class='gift-wrapping'><label class="gift-wrapping-checkbox-container">Gift wrap this item for $3.00?<input type="checkbox"><span class="gift-checkmark"></span></label></div>
*/

.gift-wrapping>label {
    display: inline-block; 
    padding: .75rem 1rem;
    font-size: 1rem;
    margin: 0;    
    width: auto;
    margin-bottom:15px;
    border: 1px solid $button-light-tan;
    box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.15);
}

.gift-wrapping {
    
    // Compatibility Code
    input[type='checkbox'] {
        vertical-align: middle;
        margin: 0 .5rem .25rem;
    }

    // W3Schools Checkbox Customization
    /* Customize the label (the container) */
    .gift-wrap-checkbox-container {
        display: inline-block;
        position: relative;
        padding-left: 3rem;
        font-size: 1.15rem;
        margin-bottom: 1rem;
        cursor: pointer;        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .gift-checkmark {
            position: absolute;
            top: 1rem;
            left: .75rem;
            height: 1.5rem;
            width: 1.5rem;
            border: 1px solid $black;            
            background-color: $white;

            /* Create the checkmark/indicator (hidden when not checked) */
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }

        /* On mouse-over, add a background color */
        &:hover input ~ .gift-checkmark {
            background-color: $button-light-tan;
        }        

        /* When the checkbox is checked, add a background */
        & input:checked ~ .gift-checkmark {
            //background-color: $button-tan;
        }
            
        /* Show the checkmark when checked */
        & input:checked ~ .gift-checkmark:after {
            display: block;
        }
        
        /* Style the checkmark/indicator */
        & .gift-checkmark:after {        
            left: .475rem;
            top: .15rem;
            width: .5rem;
            height: .8rem;
            border: solid $black;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}