.main-container {
  @include xy-grid-container;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main-container.full-width-padded {
  padding-left: 0;
  padding-right: 0;
}

.main-container.full-width {
  max-width: map-get($breakpoints, xxlarge);
}

.limit-width-wrap {
  max-width: map-get($breakpoints, xxlarge);
  margin-left: auto;
  margin-right: auto;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on medium screens ...
    @include breakpoint(medium) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
    width: 100%;
    margin: 0;
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(large) {
      @include xy-cell(8);
    }
    
    @include breakpoint(xlarge) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    transition-duration: .2s;
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    // Method to 
    @include breakpoint(medium only) {
      @include xy-grid()
      .widget {      
        @include xy-cell(6);
      }
    }

    @include breakpoint(large) {
      @include xy-cell(4);
      margin-top: 3rem;
    }

    @include breakpoint(xlarge) {
      @include xy-cell(3);
      @include xy-cell-offset(1, $grid-margin-gutters, margin, $-zf-zero-breakpoint, false);
      margin-top: 3rem;
    }
  }
}
