.footer-container {
  @include xy-grid-container; 
  text-align: center;
  padding: 2rem 0;

  p {
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
