// Navigation breakpoints
// -=-=-=-=-=-=-=-=-=-=-=
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Mobile Navigation
// -=-=-=-=-=-=-=-=-
$titlebar-title-font-size: 1.5rem;

.title-bar {
  
  .title-bar-title {
    a {
      font-size: $titlebar-title-font-size;
    }
  }

  .title-bar-cart {
    height: 1.5rem;
    margin-right: 1.5rem;
  }

  .menu-icon {
    @include hamburger($color: $titlebar-icon-color, $color-hover: $titlebar-icon-color-hover, $height: 22px, $width: 24px, $weight: 2px, $bars: 3);
  }
}

.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    //height: 100vh;
    padding:0;

    a {
      padding-left: 1rem;
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
      letter-spacing: rem-calc(2);
      &:hover {
        background-color: rgba(255,255,255,.25);
      } 
    }
  }

  .menu .active > a { 
    background-color: #ccc; 
  }
}

.off-canvas-logo-container {
  padding: $titlebar-padding;
  width: 100%;
  font-size: $titlebar-title-font-size;
  
  .off-canvas-logo {
    width: 2rem;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {
  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}

//Fix horizontal/vertical scrollbar on off-canvas menu bug
.offcanvas {
  overflow-x: hidden;
}

//Fix blue highlight on off-canvas exit bug
.js-off-canvas-overlay {
    user-select: none;
}

// Desktop/Tablet Navigation
// -=-=-=-=-=-=-=-=-=-=-=-=-

.top-bar {
  padding:0;

  .top-bar-title a {
    height: rem-calc(100);
    line-height: rem-calc(100);
    color: $white;    
    background-color: $black;
    font-size: 1.4rem;
    padding: 0 rem-calc(55);
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;  
  }

  .menu {
    line-height: rem-calc(33);
    @include breakpoint(720px)
    {
      line-height: rem-calc(50);
    }

    @include breakpoint(xlarge)
    {
      line-height: rem-calc(100);
      padding-right: 2rem;
    }

    a {
      line-height:inherit;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.13rem;

      &:hover:not(.button) {
        text-decoration: underline;
      }
    }

    .is-active {
      background-color: $button-light-tan;
    }

    .nav-unweighted {
      @include breakpoint(medium) {
        font-weight: normal;
      }

      @include breakpoint(xlarge) {
        margin-left: 10px;
      }
    }

    .nav-cart {
      img {
        width: 1.5rem;
        vertical-align: text-bottom;    
      }
    }
  }

  .menu>li:not(.menu-text)>a { padding: 0 1rem; }
  .dropdown.menu .has-submenu a:hover {border: 3px solid $button-light-tan; background-color: $white; }
  .dropdown.menu .submenu { border: 3px solid $button-light-tan; line-height: 2rem; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; } 
  
}


.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}