// Navigation breakpoints
// -=-=-=-=-=-=-=-=-=-=-=
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Mobile Navigation
// -=-=-=-=-=-=-=-=-
$titlebar-title-font-size: 1.5rem;

.title-bar {
  
  .title-bar-title {
    a {
      font-size: $titlebar-title-font-size;
    }
  }

  .title-bar-cart {
    height: 1.5rem;
    margin-right: 1.5rem;
  }

  .menu-icon {
    @include hamburger($color: $titlebar-icon-color, $color-hover: $titlebar-icon-color-hover, $height: 22px, $width: 24px, $weight: 2px, $bars: 3);
  }
}

.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    //height: 100vh;
    padding:0;

    a {
      padding-left: 1rem;
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
      letter-spacing: rem-calc(2);
      &:hover {
        background-color: rgba(255,255,255,.25);
      } 
    }
  }

  .menu .active > a { 
    background-color: #ccc; 
  }
}

.off-canvas-logo-container {
  padding: $titlebar-padding;
  width: 100%;
  font-size: $titlebar-title-font-size;
  
  .off-canvas-logo {
    width: 2rem;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {
  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}

//Fix horizontal/vertical scrollbar on off-canvas menu bug
.offcanvas {
  overflow-x: hidden;
}

//Fix blue highlight on off-canvas exit bug
.js-off-canvas-overlay {
    user-select: none;
}

// Desktop/Tablet Navigation
// -=-=-=-=-=-=-=-=-=-=-=-=-
$top-bar-link-border: 1px solid transparent;
$top-bar-link-hover-border: 1px solid $button-light-tan;
$top-bar-active-border-spacing: 2px solid transparent;
$top-bar-active-border: 2px solid $button-tan;

.top-bar {
  box-sizing: border-box;
  height: rem-calc(100);
  padding:0;

  .top-bar-title a {
    height: rem-calc(100);
    line-height: rem-calc(100);
    color: $white;    
    background-color: $black;
    font-size: 1.4rem;
    padding: 0 rem-calc(53);
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;  
  }

  .desktop-menu.menu {
    line-height: rem-calc(33);
    @include breakpoint(720px)
    {
      line-height: rem-calc(50);
    }

    @include breakpoint(xlarge)
    {
      line-height: rem-calc(100);
      padding-right: 2rem;
    }
    
    a {
      line-height:inherit;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.13rem;
      border: $top-bar-link-border;
      
      .nav-link-text {
        line-height: 1.5rem;
        display: inline-block;
        padding: 0 1px 0 2px; // Corrects for lopsided visual appearance of underline effect. 
        border-bottom: $top-bar-active-border-spacing;
      }

      &:hover {

        .nav-link-text {
          border-bottom: $top-bar-active-border;
        }
      }
    }

    .current-menu-item>a {
      color: $button-tan;
      
      .nav-link-text {
        border-bottom: $top-bar-active-border
      }
    }

    .is-active > a {
      border: $top-bar-link-hover-border;
      border-bottom: $top-bar-link-border;
      color: $black;
      z-index: 6;
    }

    .has-submenu.is-down-arrow a { padding-right: 1rem; }
    .has-submenu.is-down-arrow > a::after { border: 0; }
    &:first-child > li.is-dropdown-submenu-parent > a::after { display: none; } 

    .submenu.is-dropdown-submenu
    { 
      border: $top-bar-link-hover-border;
      box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.15);
      line-height: 1.5rem; 
      z-index: 5;
      top: 98%;
      
      a {
        border: 0;
        text-transform: unset; 
        font-weight: normal;
        letter-spacing: normal;
        padding-left: 1.5rem;
        white-space: nowrap;
        
        .nav-link-text {
          border: 0;
        }

        &:hover {
          border: 0;
          background-color: $button-light-tan;
          .nav-link-text {
            border: 0;
          }
        }

        
      }
    }
      
    .nav-unweighted {
      @include breakpoint(medium) {
        font-weight: normal;
      }

      @include breakpoint(xlarge) {
        margin-left: 10px;
      }
    }

    .nav-cart {
      img {
        width: 1.5rem;
        vertical-align: text-bottom;    
      }
    }

    &>li:not(.menu-text)>a { padding: 0 1rem; } /* This line provides compatibility with the 'kitchen-sink' FoundationPress template. */
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; /* prevents container visibility on small screens */
  }
}

/* WP post navigation */
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}