$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../images/slick/" !default;
$slick-arrow-color: black !default;
@import "../../../../node_modules/slick-carousel/slick/slick.scss"; 
@import "../../../../node_modules/slick-carousel/slick/slick-theme.scss"; 

//Featured Slick CSS
#featured-slider {
    &>.slick-prev {
        left: 1.5rem;
    }

    &>.slick-next {
        right: 2.5rem;
    }

    &>.slick-arrow {
        opacity: 0;
        z-index: 1;        
        transition-duration: .2s;
        transition-property: opacity;
        text-shadow: 1px 1px 3px rgba( $button-tan, .5);        

        &:before {
            font-size: 2.5rem;
            color: $white;                
        }      
    }

    &:hover{
        .slick-arrow{
            opacity: .5;           
        
            &:hover {
                opacity: .75;
                text-shadow: 1px 1px 3px rgba( $button-tan, .75);
            }
        }        
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 45px;
}

.slick-dots {
    bottom: -35px;
}

.slick-dots li {
    height: 25px;
    width: 25px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 25px;
    height: 25px;
    font-family: "slick";
    font-size: .75rem;
    line-height: 25px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
